{
  "rules": {
    "comma-dangle": 2,
    "no-cond-assign": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-dupe-keys": 2,
    "no-dupe-args": 2,
    "no-empty": 2,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 2,
    "semi": [ 2, "always" ],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,

    "strict": [ 2, "global" ],

    "block-scoped-var": 2,
    "eqeqeq": 2,
    "dot-notation": 1,
    "no-alert": 2,
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-new": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 1,
    "no-invalid-this": 0,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "wrap-iife": [2, "inside"],

    "no-delete-var": 2,
    "no-label-var": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-shadow": 1,
    "no-unused-vars": 1,

    "no-mixed-requires": 1,
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-sync": 1,

    "quotes": [ 2, "single" ],
    "key-spacing": 2,
    "no-spaced-func": 2,
    "no-mixed-spaces-and-tabs": [ 2 ],
    "no-multiple-empty-lines": [ 1, { "max": 2 }],
    "operator-linebreak": [2, "after"],
    "object-curly-spacing": [ 2, "always" ],
    "space-after-keywords": [ 2, "always" ],
    "semi-spacing": [2, {"before": false, "after": true}],
    "brace-style": [ 2, "1tbs", { "allowSingleLine": true } ],
    "space-infix-ops": 2,
    "space-unary-ops": [ 2, { "words": true, "nonwords": false } ],

    "arrow-spacing": [ 2, { "before": true, "after": true } ],
    "arrow-parens": [ 2 ],
    "prefer-const": 1
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  }
}
